<form action="/projects/<%=project_id%>/tasks/new" method='get' class="fl-r debug">
  <input type="hidden" name="project_id" value="params[:id]"/>
  <input id="addTask" type="button" value="Add Task" class="bx-sh debug"/>
</form>
