<form action="/projects/<%=project_id%>/tasks/new" method='get' id="addtask" class="fl-r debug">
  <input type="hidden" name="project_id" value="params[:id]"/>
  <input type="submit" value="Add Task"/>
</form>
